<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Document</title>

</head>
<body>
    <div class="games">
        <div class="container">
            <a href="/" class="button-miami href-miami">HOME</a>
            <div class="stats-header__block">
                <h1 class="stats-header">
                    MIAMI ON FINAL
                </h1>
            </div>
            <div class="games-result">
                <div class="games-result__icon">
                    <img class="games-result__icon__img" src="/images/miami1.png" alt="">
                </div>
                <div class="games-result__text__div">
                    <h3 class="games-result__text">FINAL</h3>
                    <h3 class="games-result__text">game 1</h3>
                    <h3 class="games-result__text">2 june 2023</h3>
                    <h3 class="games-result__text">93 - 104</h3>
                </div>
                <div class="games-result__icon-2">
                    <img class="games-result__icon__img-2" src="/images/denver_nuggets.svg.png" alt="">
                </div>
            </div>
            <div class="games-result">
                <div class="games-result__icon">
                    <img class="games-result__icon__img" src="/images/miami1.png" alt="">
                </div>
                <div class="games-result__text__div">
                    <h3 class="games-result__text">FINAL</h3>
                    <h3 class="games-result__text">game 2</h3>
                    <h3 class="games-result__text">5 june 2023</h3>
                    <h3 class="games-result__text">93 - 104</h3>
                </div>
                <div class="games-result__icon-2">
                    <img class="games-result__icon__img-2" src="/images/denver_nuggets.svg.png" alt="">
                </div>
            </div>
            <div class="games-result">
                <div class="games-result__icon">
                    <img class="games-result__icon__img" src="/images/miami1.png" alt="">
                </div>
                <div class="games-result__text__div">
                    <h3 class="games-result__text">FINAL</h3>
                    <h3 class="games-result__text">game 3</h3>
                    <h3 class="games-result__text">8 june 2023</h3>
                    <h3 class="games-result__text">94 - 109</h3>
                </div>
                <div class="games-result__icon-2">
                    <img class="games-result__icon__img-2" src="/images/denver_nuggets.svg.png" alt="">
                </div>
            </div>
            <div class="games-result">
                <div class="games-result__icon">
                    <img class="games-result__icon__img" src="/images/miami1.png" alt="">
                </div>
                <div class="games-result__text__div">
                    <h3 class="games-result__text">FINAL</h3>
                    <h3 class="games-result__text">game 4</h3>
                    <h3 class="games-result__text">10 june 2023</h3>
                    <h3 class="games-result__text">95 - 108</h3>
                </div>
                <div class="games-result__icon-2">
                    <img class="games-result__icon__img-2" src="/images/denver_nuggets.svg.png" alt="">
                </div>
            </div>
            <div class="games-result">
                <div class="games-result__icon">
                    <img class="games-result__icon__img" src="/images/miami1.png" alt="">
                </div>
                <div class="games-result__text__div">
                    <h3 class="games-result__text">FINAL</h3>
                    <h3 class="games-result__text">game 5</h3>
                    <h3 class="games-result__text">13 june 2023</h3>
                    <h3 class="games-result__text">89 - 94</h3>
                </div>
                <div class="games-result__icon-2">
                    <img class="games-result__icon__img-2" src="/images/denver_nuggets.svg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>