<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <div class="header">
            <div class="header-line">
                <a class="nav-item" href="/">HOME</a>
                <a class="nav-item" href="/Players">PLAYERS</a>
                <a class="nav-item" href="/stats">PLAYERS STATS</a>
                <a class="nav-item" href="/Games">GAMES</a>
                <a class="nav-item" href="/Halloffame">HALL OF FAME</a>
                <a class="nav-item" href="/Jerseys">JERSEYS</a>
            </div>
        </div>
    <div class="header2">
            <div class="miami-text1">
                <h1>MIAMI HEAT</h1>
            </div>
        <div class="container">
                <div class="miami-text">
                <p><img src="/images/miamilogo__name.jpeg" alt="" class="miami-text-img-img">
                    THE MIAMI HEAT ARE AN AMERICAN PROFESSIONAL BASKETBALL TEAM BASED IN <br>
                    MIAMI. THE HEAT COMPETE IN THE NATIONAL BASKETBALL ASSOCIATION (NBA) <br>
                    AS A MEMBER OF THE LEAGUE'S EASTERN CONFERENCE SOUTHEAST DIVISION <br>
                    THE CLUB PLAYS ITS HOME GAMES AT KASEYA CENTER, AND HAS WON THREE NBA
                    CHAMPIONSHIP
                    <br class="index-gap__text">
                    THE FRANCHISE BEGAN PLAY IN THE 1988–89 SEASON AS AN EXPANSION TEAM. <br>
                    AFTER A PERIOD OF MEDIOCRITY, THE HEAT GAINED RELEVANCE IN THE <br>
                    MID-1990S WHEN PAT RILEY BECAME TEAM PRESIDENT AND HEAD COACH. RILEY <br>
                    CONSTRUCTED THE TRADES FOR ALONZO MOURNING AND TIM HARDAWAY, <br>
                    WHICH PROPELLED THE TEAM INTO PLAYOFF CONTENTION. MOURNING AND <br>
                    HARDAWAY LED THE HEAT TO FOUR CONSECUTIVE DIVISION TITLES PRIOR TO <br>
                    THEIR DEPARTURES IN 2001 AND 2002, RESPECTIVELY. THE TEAM ALSO <br>
                    EXPERIENCED SUCCESS AFTER DRAFTING DWYANE WADE IN 2003.</p>
            </div>
        <div class="">
            <div class="miami-text">
                <p>LED BY WADE AND, FOLLOWING A TRADE FOR FORMER NBA MOST VALUABLE PLAYER (MVP) SHAQUILLE O'NEAL, THE HEAT WON <br>
                    THEIR FIRST NBA TITLE IN 2006, AFTER RILEY NAMED HIMSELF HEAD COACH FOR A SECOND STINT. AFTER THE DEPARTURE OF <br>
                    O'NEAL TWO YEARS LATER, THE TEAM STRUGGLED FOR THE REMAINDER OF THE 2000S. RILEY REMAINED TEAM PRESIDENT, <br>
                    BUT WAS REPLACED AS HEAD COACH BY ERIK SPOELSTRA. IN 2010, THE HEAT SIGNED REIGNING LEAGUE MVP LEBRON JAMES AND NBA <br>
                    ALL-STAR CHRIS BOSH, CREATING THE "BIG THREE" ALONG WITH WADE. DURING THEIR FOUR YEARS TOGETHER, SPOELSTRA, JAMES, <br>
                    WADE, AND BOSH LED THE HEAT TO THE NBA FINALS IN EVERY SEASON, CULMINATING IN BACK-TO-BACK CHAMPIONSHIPS IN 2012 <br>
                    AND 2013. ALL THREE DEPARTED BY 2016, AND THE TEAM ENTERED A PERIOD OF REBUILDING. AFTER ACQUIRING ALL-STAR JIMMY <br>
                    BUTLER IN 2019, THE HEAT RETURNED TO THE NBA FINALS IN 2020 AND 2023. THE HEAT ACQUIRED SIX-TIME NBA ALL-STAR KYLE <br>
                    LOWRY IN 2021.</p>
            </div>
            <div class="miami-text">
                <p>AT HOLD THE RECORD FOR THE NBA'S THIRD-LONGEST WINNING STREAK, 27 STRAIGHT GAMES, SET DURING THE 2012–13 <br>
                    SEASON. SIX HALL OF FAMERS HAVE PLAYED FOR MIAMI, AND JAMES WON TWO CONSECUTIVE NBA MVP AWARDS WHILE PLAYING <br>
                </p>

            </div>
        </div>
    </div>
    <div class="header3">
        <div class="feed">
            <h1>FEEDBACK</h1>
        </div>
        <div class="container">
        <div class="feed-text">
            <p>I ASK YOU ON BEHALF OF THE CREATOR OF THE LAYOUT AND SITE, WHAT ELSE SHOULD WE ADD TO THE SITE OR LAYOUT, AND ALSO<br>
                WRITE A REVIEW</p>
        </div>
        <div class="eyt">
            <div class="email">
            <input type="text" placeholder="EMAIL"
            id="input" class="input">
            </div>
            <div class="your">
            <input type="text" placeholder="YOUR NAME"
            id="input" class="input">
            </div>
            <div class="text">
            <input type="text" placeholder="WRITE HERE"
            id="input" class="input">
            </div>

        <button class="bttn">SEND</button>
        </div>
        </div>
    </div>
    <div class="footer">
        <div class="aa">
            <h1>ABOUT AUTORS</h1>
        </div>
        <div class="container">
            <div class="aa-text">HEY,MY NAMES IS DANIEL AND I DECIDED TO DO THIS ON WEEKEND, I`LL TRY TO  MAKE A LAYOUT IN FIGMA  THAN MAKE A SITE AT <br>
                NODE JS WITH EXPRESS AND HANDLEBARS(hbs)  I WILL BE HONEST I  DO IT ONE , I MEAN ONLY ME , I GUESS IT`S A PRACTICE FOR <br>
                MY PROFESSION (MAYBE I`M NOT SURE) BUT WHATEVER I TRY TO MAKE A FULL WORKING WEB-SITE AND I REALLY CAN READ YOUR <br>
                MESSAGE FORREAL SO HERE IS MY GITHUB IG AND DISCORD SO U CAN COMMMUNICATE WITH ME  OR MADE SOMETHING WITH ME <br>
                ,BYE SEE MY POSTS ON GITHUB.
            </div>
            <div class="miami-foter">
                <img src="/images/miami1.png" class="miami-png">
            </div>
        </div>
    </div>
</body>
</html>