<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
 <div class="container"> 
    <header class="button-miami">
       <a href="/" class="button-miami href-miami"> <h2>OUR JERSEYS</h2></a>
    </header>  
    <div class="OURJERSEY">
         <div class="tshirt">
         <img class="pinkblue1" src="/images/pinkblue.png" alt=""> 
         </div>
         <div class="textpinkbluejerseys">
            <h3>PINK&BLUE JERSEYS</h3>
         </div>
         <div class="onehundredfourteen">
            <h3>140$</h3>
         </div>
         <div class="buyshop">
            <a href=""><button><h3>BUY</h3></button></a>
         </div>
         <div class="tshirt2">
         <img class="red1" src="/images/red.png" alt="">
         </div>
         <div class="textredjerseys">
            <h3>CLASSIC&RED JERSEYS</h3>
         </div>
         <div class="onehundredfourteen2">
            
         </div>
         <div class="buyshop2">
            <a href=""><button><h3>BUY</h3></button></a>
         </div>
         <div class="tshirt3">
           <img class="pink1" src="/images/pink.png" alt="">
         </div>
         <div class="textpinkjerseys">
            <h3>PINK JERSEYS</h3>
         </div>
         <div class="onehundredfourteen3">
          <h3>140$</h3>
         </div>
         <div class="buyshop3">
             <a href=""><button><h3>BUY</h3></button></a>
         </div>
         <div class="tshirt4">
           <img class="white1" src="/images/white.png" alt="">
         </div>
         <div class="textwhitejerseys">
           <h3>CLASSIC&WHITE JERSEYS</h3>
         </div>
         <div class="onehundredfourteen4">
           <h3>140$</h3>
         </div>
         <div class="buyshop4">
            <a href=""><button><h3>BUY</h3></button></a>
         </div>
    </div>
 </div>
</body>
</html>