<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <a href="/" class="button-miami">HOME</a>
    <div class="player-1">
   <img src="/images/jimmy.png" alt="" width="30%"class="left-players">
    <p class="name"> Jimmy Butler </p>
               <p class="position"> Forward</p>
   <p class="characterist">HEIGHT: 6,7 <br>
   weight: 230LBs <br>
   date of birth: 09/14/1989</p>
   </div>
   <img src="/images/kevinlove.png" alt="" width="30%" class="right-players">
   <p class="name-2">kevin love</p>
   <p class=" position-2">forward</p>
   <p class="characterist-2">height: 6,8 <br>
   weight: 251lbs <br>
   date of birth: 09/07/1988</p>
   <img src="/images/tylerherro.png" alt=""  width="30%" class="left-players">
   <p class="name">tyler herro</p>
   <p class="position">guard</p>
   <p class="characterist">height: 6,5 <br>
   weight: 195LBs <br>
   date of birth: 01/20/2000</p>
   <img src="/images/victoroladipo.png" alt="" width="30%" class="right-players">

   <img src="/images/udonishaslem.png" alt="" width="30%" class="left-players">
   <p></p>
   <p></p>
   <p></p>
   <img src="/images/omeryurtseven.png" alt="" width="30%"class="right-players">
   <img src="/images/maxstrus.png" alt="" width="30%" class="left-players">
   <p></p>
   <p></p>
   <p></p>
   <img src="/images/kylelowry.png" alt="" width="30%"class="right-players">
   <img src="/images/gabevincent.png" alt="" width="30%" class="left-players">
   <p></p>
   <p></p>
   <p></p>
   <img src="/images/AnyConv.com__haywoodhighsmith.png" alt="" width="30%"class="right-players">
   <img src="/images/duncanrobinson.png" alt="" width="30%" class="left-players">
   <p></p>
   <p></p>
   <p></p>
   <img src="/images/AnyConv.com__jamalcain.png" alt=""  width="30%"class="right-players">
   <img src="/images/AnyConv.com__nikolajovic.png" alt="" width="30%"class="left-players">
   <p></p>
   <p></p>
   <p></p>
   <img src="/images/AnyConv.com__orlandorobinson.png" alt="" width="30%"class="right-players">
   <img src="/images/bamadebayo.png" alt="" width="30%"class="left-players">
   <p></p>
   <p></p>
   <p></p>
   <img src="/images/calebmartin.png" alt="" width="30%"class="right-players">
   <img src="/images/codyzeller.png" alt="" width="30%"class="left-players">
   <p></p>
   <p></p>
   <p></p>
   <img src="/images/" alt="" width="30%"class="right-players">

</body>
</html>
