<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <a href="/" class="button-miami">HOME</a>
    <div class="duo">
      <div class="container-1">
      <div class="player-holder">
 <div class="player-1">
  <img src="/images/jimmy.png" alt="" width="500px"class="left-players">
   <p class="name"> Jimmy Butler </p>
              <p class="position"> Forward</p>
  <p class="characterist">HEIGHT: 6,7 <br>
  weight: 230LBs <br>
  date of birth: 09/14/1989</p>
  </div>
  <div class="player-2">
  <img src="/images/kevinlove.png" alt="" width="500px" >
  <p class="name-2">kevin love</p>
  <p class=" position-2">forward</p>
  <p class="characterist-2">height: 6,8 <br>
  weight: 251lbs <br>
  date of birth: 09/07/1988</p>
  </div>
  </div>
  </div>
</div>
        <div class="duo">
      <div class="container-1">
      <div class="player-holder">
          <div class="player-1">
  <img src="/images/tylerherro.png" alt=""  width="500px" class="left-players">
  <p class="name">tyler herro</p>
  <p class="position">guard</p>
  <p class="characterist">height: 6,5 <br>
  weight: 195LBs <br>
  date of birth: 01/20/2000</p>
  </div>
  <div class="player-2">
  <img src="/images/victoroladipo.png" alt="" width="500px" >
  <p class="name-3">victor oladipo</p>
  <p class="position-2">guard</p>
  <p class="characterist-2">height:6,4 <br>
  weight: 214LBs <br>
  date of birth: 05/04/1992</p>
  </div>
      </div>
      </div>
        </div>
            <div class="duo">
      <div class="container-1">
      <div class="player-holder">
          <div class="player-1">
  <img src="/images/udonishaslem.png" alt="" width="500px" class="left-players">
  <p class="name">udonis haslem</p>
  <p class="position">forward</p>
  <p class="characterist">height: 6,8 <br>
  weight: 235LBs <br>
  date of birth: 06/09/1980</p>
  </div>
  <div class="player-2">
  <img src="/images/omeryurtseven.png" alt="" width="500px">
  <p class="name-3">ÖMER YURTSEVEN</p>
  <p class="position-2">center</p>
  <p class="characterist-2">height: 6,11 <br>
  weight: 275LBs <br>
  date of birth: 06/19/1998</p>
  </div>

      </div>
      </div>
            </div>
           <div class="duo">
      <div class="container-1">
      <div class="player-holder">
          <div class="player-1">
  <img src="/images/maxstrus.png" alt="" width="500px" class="left-players">
  <p class="name-4">max strus</p>
  <p class="position">guard-forward</p>
  <p class="characterist">height: 6,5 <br>
  weight: 215LBs <br>
  date of birth: 03/28/1996</p>
          </div>
          <div class="player-2">
  <img src="/images/kylelowry.png" alt="" width="500px">
  <p class="name-2">kyle lowry</p>
  <p class="position-2">guard</p>
  <p class="characterist-2">height: 6,0 <br>
  weight: 196LBs <br>
  date of birth: 03/25/1986</p>
</div>
      </div>
      </div>
           </div>
              <div class="duo">
      <div class="container-1">
      <div class="player-holder">
          <div class="player-1">
  <img src="/images/gabevincent.png" alt="" width="500px" class="left-players">
  <p class="name">gabe vinsent</p>
  <p class="position">guard</p>
  <p class="characterist">height: 6,3 <br>
  weight: 200LBs <br>
  date of birth: 06/14/1996</p>
          </div>
  <div class="player-2">
  <img src="/images/AnyConv.com__haywoodhighsmith.png" alt="" width="500px">
  <p class="name-3">HAYWOOD HIGHSMITH</p>
  <p class="position-2">forward</p>
  <p class="characterist-2">height: 6,4 <br>
  weight: 220LBs <br>
  date of birth: 12/09/1996</p>
  </div>
      </div>
      </div>
              </div>
           <div class="duo">
      <div class="container-1">
      <div class="player-holder">
          <div class="player-1">
  <img src="/images/duncanrobinson.png" alt="" width="500px" class="left-players">
  <p class="name">duncan robinson</p>
  <p class="position">forward</p>
  <p class="characterist">height: 6,7 <br>
  weight: 214LBs <br>
  date of birth: 04/22/1994</p>
          </div>
          <div class="player-2">
  <img src="/images/AnyConv.com__jamalcain.png" alt=""  width="500px">
  <p class="name-2">jamal cain</p>
  <p class="position-2">forward</p>
  <p class="characterist-2">height: 6,7 <br>
  weight: 191LBs <br>
  date of birth: 03/20/1999</p>
  </div>
      </div>
      </div>
           </div>
           <div class="duo">
      <div class="container-1">
      <div class="player-holder">
          <div class="player-1">
  <img src="/images/AnyConv.com__nikolajovic.png" alt="" width="500px"class="left-players">
  <p class="name">nikola jovic</p>
  <p class="position">forward</p>
  <p class="characterist">height: 6,10 <br>
  weight: 205LBs <br>
  date of birth: 06/09/2003</p>
          </div>
          <div class="player-2">
  <img src="/images/AnyConv.com__orlandorobinson.png" alt="" width="500px">
  <p class="name-3">orlando robinson</p>
  <p class="position-2">center</p>
  <p class="characterist-2">height: 7,0 <br>
  weight: 235LBs <br>
  date of birth: 07/10/2000</p>
  </div>
      </div>
      </div>
           </div>
           <div class="duo">
      <div class="container-1">
      <div class="player-holder">
          <div class="player-1">
  <img src="/images/bamadebayo.png" alt="" width="500px"class="left-players">
  <p class="name-4">bam adebayo</p>
  <p class="position">center-forward</p>
  <p class="characterist">height: 6,9 <br>
  weight: 255LBs <br>
  date of birth: 07/18/1997</p>
          </div>
          <div class="player-2">
  <img src="/images/calebmartin.png" alt="" width="500px">
  <p class="name-2">caleb martin</p>
  <p class="position-2">forward</p>
  <p class="characterist-2">height: 6,5 <br>
  weight: 205LBs <br>
  date of birth: 09/28/1995</p>
      </div>
      </div>
      </div>
           </div>
           <div class="player-3">
  <img src="/images/codyzeller.png" alt="" width="500px" class="left-players">
  <p class="name">cody zeller</p>
  <p class="position">center</p>
  <p class="characterist">height: 6,11 <br>
  weight: 240LBs <br>
  date of birth: 10/05/1992</p>
  </div>

</body>
</html>
