<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <a href="/" class="button-miami">HOME</a>


</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 8ee72d606ec7f4a855bd25b0b40de893ab1d8cdc
