<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="player__stats">
        <div class="container">
            <a href="/" class="button-miami href-miami">HOME</a>
            <div class="stats-header__block">
                <h1 class="stats-header">
                    Miami Heat Postseason Stats 2022-23
                </h1>
            </div>
            <table class="stats-table">
                <tr class="stats-table__row">
                    <th class="stats-table__header">name</th>
                    <th class="stats-table__header">gp</th>
                    <th class="stats-table__header">gs</th>
                    <th class="stats-table__header">pts</th>
                    <th class="stats-table__header">min</th>
                    <th class="stats-table__header">or</th>
                    <th class="stats-table__header">dr</th>
                    <th class="stats-table__header">reb</th>
                    <th class="stats-table__header">ast</th>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">Jimmy butler</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">27.2</td>
                    <td class="stats-table__value">39.7</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">21</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">bam adebayo</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">17.8</td>
                    <td class="stats-table__value">36.6</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">gabe vincent</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">13.0</td>
                    <td class="stats-table__value">31.0</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">21</td>
                    <td class="stats-table__value">21</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">caleb martin</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">4</td>
                    <td class="stats-table__value">12.8</td>
                    <td class="stats-table__value">30.1</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">tyler herro</td>
                    <td class="stats-table__value">1</td>
                    <td class="stats-table__value">1</td>
                    <td class="stats-table__value">12.0</td>
                    <td class="stats-table__value">19.0</td>
                    <td class="stats-table__value">1</td>
                    <td class="stats-table__value">1</td>
                    <td class="stats-table__value">1</td>
                    <td class="stats-table__value">1</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">victor oladipo</td>
                    <td class="stats-table__value">2</td>
                    <td class="stats-table__value">0</td>
                    <td class="stats-table__value">11.5</td>
                    <td class="stats-table__value">22.5</td>
                    <td class="stats-table__value">2</td>
                    <td class="stats-table__value">2</td>
                    <td class="stats-table__value">2</td>
                    <td class="stats-table__value">2</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">max strus</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">9.2</td>
                    <td class="stats-table__value">28.0</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">duncan robinson</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">1</td>
                    <td class="stats-table__value">9.2</td>
                    <td class="stats-table__value">18.3</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">kyle lowry</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">1</td>
                    <td class="stats-table__value">9.1</td>
                    <td class="stats-table__value">25.7</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                    <td class="stats-table__value">22</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">kevin love</td>
                    <td class="stats-table__value">19</td>
                    <td class="stats-table__value">17</td>
                    <td class="stats-table__value">7.2</td>
                    <td class="stats-table__value">18.2</td>
                    <td class="stats-table__value">19</td>
                    <td class="stats-table__value">19</td>
                    <td class="stats-table__value">19</td>
                    <td class="stats-table__value">19</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">haywood highsmith</td>
                    <td class="stats-table__value">17</td>
                    <td class="stats-table__value">0</td>
                    <td class="stats-table__value">3.5</td>
                    <td class="stats-table__value">9.3</td>
                    <td class="stats-table__value">17</td>
                    <td class="stats-table__value">17</td>
                    <td class="stats-table__value">17</td>
                    <td class="stats-table__value">17</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">cody zeller</td>
                    <td class="stats-table__value">20</td>
                    <td class="stats-table__value">0</td>
                    <td class="stats-table__value">2.3</td>
                    <td class="stats-table__value">8.7</td>
                    <td class="stats-table__value">20</td>
                    <td class="stats-table__value">20</td>
                    <td class="stats-table__value">20</td>
                    <td class="stats-table__value">20</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">omer yurtseven</td>
                    <td class="stats-table__value">8</td>
                    <td class="stats-table__value">0</td>
                    <td class="stats-table__value">0.5</td>
                    <td class="stats-table__value">2.0</td>
                    <td class="stats-table__value">8</td>
                    <td class="stats-table__value">8</td>
                    <td class="stats-table__value">8</td>
                    <td class="stats-table__value">8</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">nikola jovic</td>
                    <td class="stats-table__value">7</td>
                    <td class="stats-table__value">0</td>
                    <td class="stats-table__value">0.3</td>
                    <td class="stats-table__value">1.9</td>
                    <td class="stats-table__value">7</td>
                    <td class="stats-table__value">7</td>
                    <td class="stats-table__value">7</td>
                    <td class="stats-table__value">7</td>
                </tr>
                <tr class="stats-table__row">
                    <td class="stats-table__value">udonis haslem</td>
                    <td class="stats-table__value">2</td>
                    <td class="stats-table__value">0</td>
                    <td class="stats-table__value">0.0</td>
                    <td class="stats-table__value">1.5</td>
                    <td class="stats-table__value">2</td>
                    <td class="stats-table__value">2</td>
                    <td class="stats-table__value">2</td>
                    <td class="stats-table__value">2</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>

