<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="player__stats">
        <div class="containe">
            <a href="/" class="button-miami">HOME</a>
            <div class="stats-header__block">
                <h1 class="stats-header">
                    Miami Heat Postseason Stats 2022-23
                </h1>
            </div>
            <div class="cell">
                <h2 class="cell-header">name</h2>
                <p class="cell-p__name">jimmy butler</p>
                <p class="cell-p__name">bam adebayo</p>
                <p class="cell-p__name">gabe vincent</p>
                <p class="cell-p__name">caleb martin</p>
                <p class="cell-p__name">tyler herro</p>
                <p class="cell-p__name">victor oladipo</p>
                <p class="cell-p__name">max strus</p>
                <p class="cell-p__name">duncan robinson</p>
                <p class="cell-p__name">kyle lowry</p>
                <p class="cell-p__name">kevin love</p>
                <p class="cell-p__name">haywood highsmith</p>
                <p class="cell-p__name">code zeller</p>
                <p class="cell-p__name">omer yurtseven</p>
                <p class="cell-p__name">nikola jovic</p>
                <p class="cell-p__name">udonis haslem</p>
            </div>
            <div class="cell">
                <h2 class="cell-header">gp</h2>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">2</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">19</p>
                <p class="cell-p__name">17</p>
                <p class="cell-p__name">20</p>
                <p class="cell-p__name">8</p>
                <p class="cell-p__name">7</p>
                <p class="cell-p__name">2</p>
            </div>
            <div class="cell">
                <h2 class="cell-header">gs</h2>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">4</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">17</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
            </div>
            <div class="cell">
                <h2 class="cell-header">pts</h2>
                <p class="cell-p__name">27.2</p>
                <p class="cell-p__name">17.8</p>
                <p class="cell-p__name">13.0</p>
                <p class="cell-p__name">12.8</p>
                <p class="cell-p__name">12.0</p>
                <p class="cell-p__name">11.5</p>
                <p class="cell-p__name">9.2</p>
                <p class="cell-p__name">9.2</p>
                <p class="cell-p__name">9.1</p>
                <p class="cell-p__name">7.2</p>
                <p class="cell-p__name">3.5</p>
                <p class="cell-p__name">2.3</p>
                <p class="cell-p__name">0.5</p>
                <p class="cell-p__name">0.3</p>
                <p class="cell-p__name">0.0</p>
            </div>
            <div class="cell">
                <h2 class="cell-header">min</h2>
                <p class="cell-p__name">39.7</p>
                <p class="cell-p__name">36.6</p>
                <p class="cell-p__name">31.0</p>
                <p class="cell-p__name">30.1</p>
                <p class="cell-p__name">19.0</p>
                <p class="cell-p__name">22.5</p>
                <p class="cell-p__name">28.0</p>
                <p class="cell-p__name">18.0</p>
                <p class="cell-p__name">25.7</p>
                <p class="cell-p__name">18.2</p>
                <p class="cell-p__name">9.3</p>
                <p class="cell-p__name">8.7</p>
                <p class="cell-p__name">2.0</p>
                <p class="cell-p__name">1.9</p>
                <p class="cell-p__name">1.5</p>
            </div>
            <div class="cell">
                <h2 class="cell-header">or</h2>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">4</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">17</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
            </div>
            <div class="cell">
                <h2 class="cell-header">dr</h2>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">4</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">17</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                
            </div>
            <div class="cell">
                <h2 class="cell-header">reb</h2>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">4</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">17</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                
            </div>
            <div class="cell">
                <h2 class="cell-header">ast</h2>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">21</p>
                <p class="cell-p__name">4</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">22</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">1</p>
                <p class="cell-p__name">17</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                <p class="cell-p__name">0</p>
                
            </div>
        </div>
    </div>
</body>
</html>

