body{
  font-family: 'Montserrat Subrayada', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
    background-image: url(../images/miamibackground.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0 auto;
}
.sv{
    margin-left: 850px;
    top: 600px;
    display: flex;
}

.header-line{
    color: #000;
    size: 24px;
    text-decoration: none;
    padding-top: 38px;
    text-align: center;
    justify-content: space-around;
}
.nav-item{
    margin-right: 40px;
    color: #000;

}
.container{
    width: 1090px;
    margin: 0 auto;
}
.miami-text1{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}
.miami-text{
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    margin-bottom: 55px;
}
.miami-text-img-img {
    float: right;
    margin: 20 20;
}
.index-gap__text{
    height: 50px;
}
.feed{
    text-align: center;
    margin-bottom: 55px;
}
.feed-text{
    padding-top: 50px;
    margin-bottom: 55px;
}
.eyt{
    line-height: 40px;
    display: block;
}
.email{
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
}
.your{
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
}
.text{
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
}
.input {
  background-color: #8B7E7E;
  padding:8px 420px 8px 8px;
  font-size: 16px;
  color: #fff;
  border: none;
}
.input:active{
  border: none;
}
::placeholder {
  color:#fff;
}
.bttn {
  background-color: #8B7E7E;
  padding:10px 35px;
  font-size: 16px;
  color: #fff;
  border: none;
  margin-bottom: 110px;
}
.aa{
  text-align: center;
  margin-bottom: 55px;
}
.aa-text {
  text-align: center;
  margin-bottom: 55px;
}
.miami-foter{
    text-align: center;
}
.miami-png {
    height: 75px;
    width: 75px;
}
.button-miami{
    display: flex;
    justify-content: center;
    padding-top: 54px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.left-players{
    margin-left: 200px;
}
.characterist{
    margin-left: 200px;
    font-weight: 700;
    font-size: 20px;
}

.name{
    margin-left: 330px;
    font-weight: 700;
    font-size: 24px;
}
.position{
    margin-left: 360px;
    font-weight: 700;
    font-size: 20px;
}
.duo{
    display: block;
}
.container-1{
    margin: 0px, 166px;
}
.player-holder{
    display: flex;
    justify-content: center;
    margin-bottom: 129px ;
}
.player-1{
    padding-right: 200px;
}
.player-2{
    margin-right: 200px;
}

.characterist-2{
    font-weight: 700;
    font-size: 20px;
}

.name-2{
    margin-left: 180px;
    font-weight: 700;
    font-size: 24px;
}
.position-2{
    margin-left: 210px;
    font-weight: 700;
    font-size: 20px;
}
.name-3{
    margin-left: 140px;
    font-weight: 700;
    font-size: 24px;
}
.name-4{
    margin-left: 380px;
    font-weight: 700;
    font-size: 24px;
}
.name-5{
    margin-left: 150px;
    font-weight: 700;
    font-size: 24px;
}
.position-3{
    margin-left: 180px;
    font-weight: 700;
    font-size: 20px;
}
.characterist-3{
    margin-left: 100px;
    font-weight: 700;
    font-size: 20px;
}
.player-3 {
    padding-left: 130px;
}
.player__stats {
}
.href-miami {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 0px;
}
.stats-header__block {
    margin-bottom: 100px;
}
.stats-header {
    align-items: center;
    text-align: center;
}
.stats-table {
    border-collapse:collapse;
}
.stats-table__row {
    border:none;
}
.stats-table__header {
    width: 400px;
    text-align: left;
    border-collapse:collapse;
	border: 1px solid black;
	padding-top:0;
	padding-bottom:30px;
    padding-left: 20px;
    border-top:none;
	border-bottom:none;
}
.stats-table__header:first-of-type{
    border-left: none;
}
.stats-table__header:last-of-type{
    border-right: none;
}
.stats-table__value {
    width: 130px;
    border-collapse:collapse;
	border: 1px solid black;
	padding-top:0;
	padding-bottom:10px;
    padding-left: 20px;
    border-top:none;
	border-bottom:none;
}
.stats-table__value:first-of-type{
    border-left: none;
}
.stats-table__value:last-of-type{
    border-right: none;
}
