body{
  font-family: 'Montserrat Subrayada', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
    background-image: url(../images/miamibackground.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0 auto;
}
.sv{
    margin-left: 850px;
    top: 600px;
    display: flex;
}

.header-line{
    color: #000;
    size: 24px;
    text-decoration: none;
    padding-top: 38px;
    text-align: center;
    justify-content: space-around;
}
.nav-item{
    margin-right: 40px;
    color: #000;

}
.container{
    width: 1090px;
    margin: 0 auto;
}
.miami-text1{
    text-align: center;
    margin-top: 55px;
    margin-bottom: 55px;
}
.miami-text{
    flex-flow: row nowrap;
    align-items: center;
    display: flex;
    margin-bottom: 55px;
}
.miami-text-img {
  display: flex;
  flex: 0 0 auto;
}
.miami-text-under{
  display: flex;
  margin-bottom: 55px;
}
.feed{
    text-align: center;
    margin-bottom: 55px;
}
.feed-text{
    padding-top: 50px;
    margin-bottom: 55px;
}
.eyt{
    line-height: 40px;
    display: block;
}
.email{
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
}
.your{
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
}
.text{
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
}
.input {
  background-color: #8B7E7E;
  padding:8px 420px 8px 8px;
  font-size: 16px;
  color: #fff;
  border: none;
}
.input:active{
  border: none;
}
::placeholder {
  color:#fff;
}
.bttn {
  background-color: #8B7E7E;
  padding:10px 35px;
  font-size: 16px;
  color: #fff;
  border: none;
  margin-bottom: 110px;
}
.aa{
  text-align: center;
  margin-bottom: 55px;
}
.aa-text {
  text-align: center;
  margin-bottom: 55px;
}
.miami-foter{
    text-align: center;   
}
.miami-png {
    height: 75px;
    width: 75px;
}